*, *::before, ::after{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.carousel{
    width: 100vw;
    height:100vh;
    position: relative;
}
.carousel > ul{
    margin:0;
    padding: 0;
    list-style: none;
}
.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
   
}
.slide .img {
    display: block;
    height: 90%;
    width:60%;
    margin: auto;
    padding-top:5rem;
    object-fit: cover;
    object-position: center;
}
.slide[data-active]{
    opacity: 1;
}
/*button */
.carousel-button{
    position:absolute;
    z-index: 2;
    background:none;
    border: none;
    font-size: 4rem;
    top:50%;
    transform: translateY(-50%);
    color: rgba(3, 4, 87, 0.842);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0,0,0, .1);
}
.carousel-button:hover,
.carousel-button:focus{
    color: white;
    background-color: rgb(126, 13, 13);
}
.carousel-button:focus{
    outline: 2px solid black;
}
.carousel-button.prev{
    left:3rem;
}
.carousel-button.next{
    right:3rem;
}
